<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/functions.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="css/rotate.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/distrack-list.css">
</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="img/vinyl-custom.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>

    <div class="row ml-0 col-sm-12">
        <div id="left-form" class="col-sm-4">
            <div id="title" class="offset-1">
                <h1>DisTrack</h1>
                <p>New shit.</p>
            </div>
            <div class="offset-1">
                <div id="form-pull-left">
                    <form id="getArtistsForUsername" autocomplete="off" action="">
                        <div class="input-group">
                            <label>
                                <input id="discogs-username" name="username" class="form-control" placeholder="Enter your Discogs username..."
                                    style="background-color:rgba(0,0,0,0) !important;box-shadow:none !important;"
                                    autocorrect="off" autocapitalize="off" spellcheck="false"></input>
                                <span></span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="py-3 offset-1">
                <a href="https://github.com/VincentRavoet/DisTrack" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div id="distrack_list" class="row col-sm-8 offset-4"></div>
    </div>
</body>

</html>