<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="css/rotate.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<script>
    $(document).ready(function () {
        $('#truncateBtn').on('click', () => {
            sendAjax("/migrate");
        });

        $('#lastfmBtn').on('click', () => {
            sendAjax("/lastfm");
        });

        $('#updateReleasesBtn').on('click', () => {
            sendAjax("/updateReleaseForAllArtists");
        });

        $("#discogs-username").focus(function () {
            $('#bgVideo').fadeTo('fast', 0.2);
        });

        $("#discogs-username").focusout(function () {
            $('#bgVideo').fadeTo('fast', 0.5);
        });

        $('#getArtistsForUsername').on('submit', (e) => {
            e.preventDefault();

            $('#discogs-username').focusout();

            var usernameJson = $("#getArtistsForUsername").serializeArray().reduce((m, o) => { m[o.name] = o.value; return m; }, {})

            sendAjax('/getArtistsForUsername/' + usernameJson.username);

        });

        sendAjax = (url) => {
            $.ajax({
                url: url
            }).done(function (data) {
                console.log(data);
            });
        }
    });
</script>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="img/vinyl-custom.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>

    <div class="container ml-0">
        <div id="title" class="col-sm-4 offset-1">
            <h1>DisTrack</h1>
            <p>New shit.</p>
        </div>
        <div class="col-sm-12">
            <div id="form-pull-left" class="col-sm-4 offset-1 mt-5">
                <form id="getArtistsForUsername" autocomplete="off" action="">
                    <div class="input-group">
                        <label>
                            <input id="discogs-username" name="username" class="form-control" placeholder="Your Discogs username"
                                style="background-color:rgba(0,0,0,0) !important;box-shadow:none !important;"></input>
                            <span></span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 offset-1 mt-3">
                <!-- <button id="updateReleasesBtn" class="btn btn-danger w-100" disabled="disabled">Update releases</button>
                <button id="lastfmBtn" class="btn btn-warning w-100">Lastfm</button> -->
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018
            <a href="https://github.com/VincentRavoet/DisTrack" target="_blank"><i class="fab fa-github"></i></a></div>
        <!-- Copyright -->
    </footer>
</body>

</html>