@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #1e2126;
    color: white;
}

.container {
    width: 100%;
    margin: 0;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.5;
}

#left-form {
    position: fixed;
    display: block;
    height: 100%;
}

#title h1 {
    font-size: 80px;
    margin-left: -6px;
}

#title {
    margin-top: 100px;
}

#vinyl-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    margin-right: -475px;
    margin-bottom: -475px;
}

#discogs-username, #artist-search {
    background: transparent;
    border: none;
    color: white;
    caret-color: #990099;
    padding-bottom: 5px;
}

#lastfmArtistSearch label {
    margin-bottom: 0;
}

#artist-search-results {
    width: 308px;
    background: white;
    color: black;
    display: table;
}

#artist-search-name {
    font-size: 100%;
    vertical-align: middle;
    display: table-cell;

}

label {
    display: inline-block;
    width: 308px;
    overflow: hidden;
}

#form-pull-left {
    padding: 0;
    padding-left: 3px;
}

.form-control {
    font-size: 20px;
    color: #646c70;
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
  }
  .form-control + span {
    display: block;
    border-bottom: solid 3px #990099;
    width: 0;
    -webkit-transition: width 400ms ease-in-out;
    transition: width 400ms ease-in-out;
  }
  .form-control:focus + span {
    width: 110%;          /*  used calc first, but won't work on Edge  */
    -webkit-transition: width 400ms ease-in-out;
    transition: width 400ms ease-in-out;
  }

  .fa-github {
    color: white;
    font-size: 40px;
    position: fixed;
    bottom: 15px;
    transition: color .1s ease-in
  }

  .fa-github:hover {
    color: #990099;
  }